[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
blueprint-webapp-flask-bootstrap = {editable = true,extras = ["dev"],path = "."}

[packages]
blueprint-webapp-flask-bootstrap = {editable = true,path = "."}
